// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026
 *
 * Vendor-kernel DTS for the board identified from an Android boot.img DTB.
 * Provenance from the extracted DTB:
 *   - model: "Rockchip RK3588S BOX LP4 V10 Board"
 *   - compatible: "rockchip,rk3588s-box-v10", "rockchip,rk3588"
 *
 * The extracted DTB string set matches the RK3588S EVB1 LP4X vendor family
 * more closely than the other in-tree RK3588S vendor boards:
 *   - RK806 single PMIC
 *   - AP6275P Wi-Fi/BT
 *   - FUSB302 Type-C
 *   - HDMI/DP audio nodes
 *
 * Keep the inheritance narrow and disable EVB1 tablet-style peripherals that
 * are not justified by the extracted Android DTB.
 */

/dts-v1/;

#include "rk3588s-tablet-single.dtsi"
#include "rk3588-linux.dtsi"

/ {
	model = "Rockchip RK3588S BOX LP4 V10 Board";
	compatible = "rockchip,rk3588s-box-v10", "rockchip,rk3588";

	/delete-node/ chosen;

	vcc5v0_otg_box: vbus5v0_typec: vcc5v0-otg-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_otg_en_box>;
	};
};

&vcc5v0_host {
	gpio = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
	vin-supply = <&vcc5v0_usb>;
	pinctrl-names = "default";
	pinctrl-0 = <&vcc5v0_host_en>;
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&vcc5v0_limit_en &hdmi_en_gpio>;

	hdmi {
		hdmi_en_gpio: hdmi-en-gpio {
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_output_high>;
		};

		vcc5v0_limit_en: vcc5v0-limit-en {
			rockchip,pins = <4 RK_PA6 RK_FUNC_GPIO &pcfg_output_high>;
		};
	};
};

/*
 * The vendor DTB exposes HDMI/DP, Type-C, AP6275P and RK806-family strings,
 * but gives no clear evidence for the EVB1's internal panel/touch/sensor
 * stack. Disable those blocks instead of inheriting them by default.
 */
&backlight {
	status = "disabled";
};

&edp0 {
	status = "disabled";
};

&edp0_in_vp2 {
	status = "disabled";
};

&hall_sensor {
	status = "disabled";
};

&i2c4 {
	status = "disabled";
};

&i2c5 {
	status = "disabled";
};

&route_edp0 {
	status = "disabled";
};

&{/panel-edp} {
	status = "disabled";
};

&uart0 {
	status = "disabled";
};

&uart1 {
	status = "disabled";
};

&uart2 {
	status = "disabled";
};

&uart3 {
	status = "disabled";
};

&uart4 {
	status = "disabled";
};

&uart5 {
	status = "disabled";
};

&uart6 {
	status = "disabled";
};

&uart7 {
	status = "disabled";
};

&uart8 {
	status = "disabled";
};

&uart9 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m2_xfer>;

	vdd_cpu_big0_box: vdd_cpu_big0_mem_box: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big0_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_box: vdd_cpu_big1_mem_box: rk8603@43 {
		compatible = "rockchip,rk8603";
		reg = <0x43>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big1_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c2 {
	status = "okay";

	vdd_npu_box: vdd_npu_mem_box: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_npu_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c6 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m3_xfer>;
	clock-frequency = <400000>;

	/delete-node/ cw2015@62;
	/delete-node/ bq25703@6b;

	tca6507@45 {
		compatible = "leds,tca6507";
		reg = <0x45>;
		gpios = <&gpio4 10 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	usbc0_box: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC4 IRQ_TYPE_LEVEL_LOW>;
		int-n-gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vcc5v0_otg_box>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				usbc0_role_sw_box: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con_box: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos = <PDO_FIXED(5000, 100, PDO_FIXED_USB_COMM)>;
			source-pdos = <PDO_FIXED(5000, 300, PDO_FIXED_USB_COMM)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw_box: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					dp_altmode_mux_box: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_box>;
	mem-supply = <&vdd_cpu_big0_mem_box>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_big0_box>;
	mem-supply = <&vdd_cpu_big0_mem_box>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_box>;
	mem-supply = <&vdd_cpu_big1_mem_box>;
};

&cpu_b3 {
	cpu-supply = <&vdd_cpu_big1_box>;
	mem-supply = <&vdd_cpu_big1_mem_box>;
};

&rknpu {
	rknpu-supply = <&vdd_npu_box>;
	mem-supply = <&vdd_npu_mem_box>;
};

&{/charge-animation} {
	regulator-off-in-mem = <&vdd_gpu_s0>, <&vdd_npu_box>,
		<&vdd_vdenc_s0>, <&vdd_gpu_mem_s0>, <&vdd_npu_mem_box>,
		<&vdd_vdenc_mem_s0>, <&vcc_3v3_s0>,
		<&vccio_sd_s0>, <&avdd_0v75_s0>, <&vdd_0v85_s0>,
		<&vdd_cpu_big1_box>, <&vdd_cpu_big0_box>, <&vdd_cpu_lit_s0>,
		<&vdd_cpu_big1_mem_box>, <&vdd_cpu_big0_mem_box>, <&vdd_cpu_lit_mem_s0>,
		<&vddq_ddr_s0>, <&vdd_ddr_s0>, <&vdd_ddr_pll_s0>,
		<&avdd_1v2_s0>, <&vdd_0v75_s0>;
};

&sdio {
	status = "disabled";
};

&sdio_pwrseq {
	status = "disabled";
};

&i2c7 {
	status = "disabled";
};

&i2c8 {
	status = "disabled";
	/delete-node/ fusb302@22;
};

&csi2_dcphy0 {
	status = "disabled";
};

&csi2_dcphy1 {
	status = "disabled";
};

&csi2_dphy0_hw {
	status = "disabled";
};

&csi2_dphy1_hw {
	status = "disabled";
};

&mipi_dcphy0 {
	status = "disabled";
};

&mipi_dcphy1 {
	status = "disabled";
};

&mipi0_csi2 {
	status = "disabled";
};

&mipi1_csi2 {
	status = "disabled";
};

&mipi0_csi2_hw {
	status = "disabled";
};

&mipi1_csi2_hw {
	status = "disabled";
};

&mipi2_csi2_hw {
	status = "disabled";
};

&mipi3_csi2_hw {
	status = "disabled";
};

&mipi4_csi2_hw {
	status = "disabled";
};

&mipi5_csi2_hw {
	status = "disabled";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	rockchip,typec-vbus-det;
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy2_host {
	status = "okay";
	phy-supply = <&vcc5v0_host>;
};

&u2phy3 {
	status = "okay";
};

&u2phy3_host {
	status = "okay";
	phy-supply = <&vcc5v0_host>;
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbhost3_0 {
	status = "okay";
};

&usbhost_dwc3_0 {
	status = "okay";
	dr_mode = "host";
};

&combphy2_psu {
	status = "okay";
};

&usbdp_phy0 {
	orientation-switch;
	svid = <0xff01>;
	status = "okay";
};

&usbdp_phy0_dp {
	status = "okay";
};

&usbdp_phy0_u3 {
	status = "okay";
};

&usbdp_phy0_orientation_switch {
	remote-endpoint = <&usbc0_orien_sw_box>;
};

&usbdp_phy0_dp_altmode_mux {
	remote-endpoint = <&dp_altmode_mux_box>;
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	dr_mode = "otg";
	status = "okay";
	usb-role-switch;
};

&dwc3_0_role_switch {
	remote-endpoint = <&usbc0_role_sw_box>;
};

&rkcif {
	status = "disabled";
};

&rkcif_mipi_lvds {
	status = "disabled";
};

&rkcif_mipi_lvds_sditf {
	status = "disabled";
};

&rkcif_mipi_lvds1 {
	status = "disabled";
};

&rkcif_mipi_lvds1_sditf {
	status = "disabled";
};

&rkcif_mipi_lvds2 {
	status = "disabled";
};

&rkcif_mipi_lvds2_sditf {
	status = "disabled";
};

&rkcif_mipi_lvds3 {
	status = "disabled";
};

&rkcif_mipi_lvds3_sditf {
	status = "disabled";
};

&fiq_debugger {
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};

&wireless_bluetooth {
	status = "disabled";
};

&uart7 {
	status = "disabled";
};

&wireless_wlan {
	status = "disabled";
};

&es7202_sound_micarray {
	status = "disabled";
};

&es8388_sound {
	status = "disabled";
};

&es8388 {
	status = "disabled";
};

&mpu6500_acc {
	status = "disabled";
};

&mpu6500_gyro {
	status = "disabled";
};

&hym8563 {
	status = "disabled";
};

&aw8601 {
	status = "disabled";
};

&ov50c40 {
	status = "disabled";
};

&otp_eeprom {
	status = "disabled";
};

&vendor_storage {
	status = "disabled";
};

&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "output";
	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 100000 1500000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1_miim
		     &gmac1_tx_bus2
		     &gmac1_rx_bus2
		     &gmac1_rgmii_clk
		     &gmac1_rgmii_bus>;
	tx_delay = <0x42>;
	rx_delay = <0x37>;
	phy-handle = <&box_rgmii_phy1>;
	status = "okay";
};

&mdio1 {
	box_rgmii_phy1: phy@6 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x6>;
	};
};

&pinctrl {
	usb-box {
		vcc5v0_otg_en_box: vcc5v0-otg-en-box {
			rockchip,pins = <4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
